 <% Review.all.each do |review| %>
    <%= link_to review_path(review) do %>
      <div id="<%= dom_id review %>" class="card-trip jumpcard">
        <%# <% if review.photo.attached? %>
          <%#<%= cl_image_tag experience.photo.key, height: 300, crop: :fill%>
        <%#<% else %>
         <%=image_tag src="https://source.unsplash.com/random", alt: "random-image", height: 300, width: 200 %>
        <%#<% end %>
        <div class="card-trip-info">

          <div class= "cards-infos">
            <h4><%= review.title %></h4>
            <h6><%= review.user.first_name %></h6>
          </div>
          <div>
              <p><%= review.subtitle %></p>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
