 <% Review.all.each do |review| %>
    <%= link_to review_path(review) do %>
      <div id="<%= dom_id review %>" class="card-trip jumpcard">
        <%=image_tag src="poster", class:"card-img-top", alt: "generic movie image", height: 300, width: 200 %>
        <div class="card-body index-card">
          <h5 class="card-title"><%= review.title %></h5>
          <h6>by <%= review.user.first_name %></h6>
          <p class="card-text"><%= review.subtitle %></p>
        </div>
      </div>
    <% end %>
  <% end %>


        <%# <% if review.photo.attached? %>
          <%#<%= cl_image_tag experience.photo.key, height: 300, crop: :fill%>
        <%#<% else %>
