<div class= "wrapper">
  <% @reviews.each do |review| %>
    <%= link_to review_path(review) do %>
      <div id="<%= dom_id review %>" class="index-card card jumpcard">
        <img class="card-img-top" src="<%= asset_path('poster.jpg') %>" alt="generic movie image">
        <div class="card-body">
          <h5 class="card-title"><%= review.title %></h5>
          <h6>by <%= review.user.first_name %></h6>
          <p class="card-text"><%= review.subtitle %></p>
          <%=simple_format(review.content)%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
