<div class="container">
   <div class="row">
      <div class="col-sm-6 p-0" style="height: 80vh">
          <div class="card card-body h-100">
            <%# <% if @experience&.photo&.attached? %> %>
               <%#<%= cl_image_tag @experience.photo.key, class: "w-100 h-100 image-fluid", style: "object-fit: cover", crop: :fill, gravity: :face%>
             <%#<% else %>
              <%=image_tag src="https://source.unsplash.com/random", alt: "random-image", class: "w-100 h-100 image-fluid", style: "object-fit: cover", crop: :fill%>
            <%# <% end %>
            <br>
          </div>
      </div>
      <div class="col-sm-6 p-0" style="height: 80vh">
        <div class="card h-100">
          <h2 class="card-header"><p> <%= @review.title %> </h2>
          <div class="card-body">
            <h5 class="card-title"></p><%= @review.subtitle %></h5>
            <p class="card-text">
              <%= @review.category %>
              <p><%= @review.content %></p>
              </p>
              <br>
              <p><%= @comment.each do %>
                <% @comment.content %>
                <% @comment.c_nickname %>
                <% end %></p>

                <%= simple_form_for @comment do |f| %>
                <%= f.input :content, label: 'your high falooting thoughts', error: 'cant think without thoughts, pal' %>
                <%= f.input :c_nickname, hint: 'how you want to be known', placeholder: 'badboy41'%>
                <%= f.button :submit %>
                <% end %>

                <div class="container" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px;">
                  <%= link_to "Leave A Comment", new_experience_booking_path(@experience), id: "white", class: "btn btn-secondary" %>
                </div>
                <br>
          </div>
        </div>
      </div>
</div>
