<div class="container">
    <div><%= link_to "<- browse all reviews", root_path, class: "nav-link active" %></div>
    <div><%= link_to "next review", review_path, class: "nav-link active" %></div>
    <div class="container-fluid">
        <div class="card h-100">
          <div class="card bg-dark bg-opacity-25 text-white">
           <%=image_tag src="poster", class:"card-img", alt: "generic movie poster", height: 300, width: 200 %>
            <div class="card-img-overlay">
              <h2 class="card-header"><%= @review.title %></h2>
              <h5 class="card-title"><%= @review.subtitle %></h5>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= @review.category %>
              <p><%= @review.content %></p>
            </p>
              <br>
           <div class="card-footer">
            <div class="comment-box">
                <p>Comments</p>
                <p><% @comments.each do |comment| %>
                  <%= comment.content %>
                  <br>
                  <%= comment.c_nickname %>
                  <%= comment.created_at %>
                  <% end %>
                </p>
              </div>
              <div class="comment-box">
                <p>Leave a comment on this review</p>
                    <%# <%= simple_form_for [@review, @comment] do |f| %>
                    <%= simple_form_for [@review, @review.comments.new], remote: true do |f| %>
                  <div class="form-inputs">
                    <%= f.input :content, label: 'your thoughts'%>
                    <%= f.input :c_nickname, label: 'your nickname', placeholder: 'johndoe3'%>
                    <div class="form-actions m-3 p-2">
                      <%= f.button :submit, class: "button-80"%>
                    </div>
                    <% end %>
                  </div>
              </div>
            </div>
                <br>
          </div>
        </div>
    </div>
</div>
